@import 'fonts';

body, body * {
  font-family: 'Lato', 'Open Sans', sans-serif;
  outline: none;

  a, a:visited {
    text-decoration: none;
    color: inherit;
    filter: contrast(60%);
  }
  
  a:hover {
    filter: none;
  }
}
